*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

div{
    border :20px;
    border-color: cornflowerblue;
}
/* 下面整個大區塊 */
.bigblock
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-width: 300px;
}

/* header */

.logo{
    position: absolute;
    left: 0;
}
header{
    height:100px;
    width: 100%;
    position: relative;
    z-index: 1;
}

a{
    margin-left: 10px;
    text-decoration: none;
    color: gray;
}

.toplink{
    position: absolute;
    right: 30px;
    bottom: 0;
    color: grey;
    text-align: center;
}

/* 左下文字+按鈕 */
.maintext{
    width: 600px;
    height: 200px;
    position: relative;
    left: 50px;
    top: 50px;
    text-align: justify;
    z-index: 2;
}

h1{
    font-size: 65px;
    line-height: 70px;
}

p{
    color: gray;
    line-height: 25px;

}
.green{
    color: rgb(54, 104, 54);
}



button{
    position: relative;
    top: 15px;
    width: 150px;
    height: 35px;
    background-color:  rgb(54, 104, 54);
    color: honeydew;
    border-radius: 35px;
}
button:hover{
    cursor:pointer;
}

/* 底下三杯 */

.bottomimg{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5vh;
    width: 250px;
    left: 650px;
}

.bottomimg>img{
    height: auto;
    width: 30%;
}
/* 右邊圖片 */

.rightimg{  
    line-height: 50px;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 30px;
    height: auto;
}

.rightimg img{
    width: 100%;
    height: auto;
}

/* 右下角橘色圈圈 */

.greenb{
    position: absolute;
    background-color: rgb(221, 153, 126);
    width: 180vh;
    height: 90vh;
    border-radius:180vh 180vh 0 0;
    right: -75vh;
    bottom:-10vh;
}

.bigcup{
    position: absolute;
    top: 25%;
    right: 20vw;  
    height: 60vh;
}